<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quintessential&family=Roboto:wght@100&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./css/styles.css">
    <title>Ingresar</title>
</head>
<body class="body-login">
    <div class="menu-login">
        <form class="login" action="/" method="post">
            <div class="login-escritura">
                <label for="nombre">Nombre de usuari@</label>
                <input type="text" name="nombre" id="nombre" required minlength="3">
            </div>
            <div class="login-escritura">
                <label for="contraseña">Contraseña</label>
                <input type="password" name="contraseña" id="contraseña">
            </div>
            <button class="boton-login" type="submit">Enviar</button>
        </form>
    </div>
</body>
</html>